html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: hsl(0, 0%, 8%);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.profile {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 12%);
  max-width: 45rem;
  margin: 20rem auto;
  padding: 5rem;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.profile__image {
  border-radius: 50%;
  width: 40%;
}

.profile__preview {
  text-align: center;
}

.heading-primary {
  font-size: 2.8rem;
  font-weight: 400;
}

.profile__location {
  font-size: 1.6rem;
  font-weight: 600;
  color: hsl(75, 94%, 57%);
  margin-top: 1rem;
}

.profile__job {
  font-size: 1.6rem;
  font-weight: 400;
}

.card__links {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card__item {
  background-color: hsl(0, 0%, 20%);
  text-align: center;
  padding: 1.4rem;
  border-radius: 10px;
}

.card__link:link,
.card__link:visited {
  font-size: 1.6rem;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}
