html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: hsl(0, 0%, 8%);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.profile {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 12%);
  max-width: 45rem;
  margin: 20rem auto;
  padding: 5rem;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

@media screen and (max-width: 450px) {
  .profile {
    margin: 0;
    width: 100%;
    border-radius: 0;
    padding: 2.5rem;

    gap: 5rem;
  }
}

.profile__image {
  border-radius: 50%;
  width: 40%;
}

@media screen and (max-width: 450px) {
  .profile__image {
    width: 50%;
  }
}

.profile__preview {
  text-align: center;
}

.heading-primary {
  font-size: 2.8rem;
  font-weight: 400;
}

@media screen and (max-width: 450px) {
  .heading-primary {
    font-size: 4.4rem;
  }
}

.profile__location {
  font-size: 1.6rem;
  font-weight: 600;
  color: hsl(75, 94%, 57%);
  margin-top: 1rem;
}

@media screen and (max-width: 450px) {
  .profile__location {
    font-size: 2.2rem;
  }
}

.profile__job {
  font-size: 1.6rem;
  font-weight: 400;
}

@media screen and (max-width: 450px) {
  .profile__job {
    font-size: 2rem;
  }
}

.card__links {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (max-width: 450px) {
  .card__links {
    gap: 3rem;
  }
}

.card__item {
  background-color: hsl(0, 0%, 20%);
  text-align: center;
  padding: 1.4rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

@media screen and (max-width: 450px) {
  .card__item {
    padding: 2rem;
  }
}

.card__item:hover {
  filter: brightness(1.1);
}

.card__link:link,
.card__link:visited {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}

@media screen and (max-width: 450px) {
  .card__link:link,
  .card__link:visited {
    font-size: 2rem;
  }
}
